{% assign posts = include.posts %}

<div class="articles-container" data-turbo="false">
  {% for post in posts %}
  <a href="{{ post.url }}">
    <div class="article-card grid grid-rows-2">
      <div class="row-span-1">
        {% if post.tags %}
        <div class="tag-container">
          {% for tag in post.tags %}
          <button>{{ tag }}</button>
          {% endfor %}
        </div>
        {% endif %}

        <p class="text-sm">{{ post.date | date_to_string }}</p>

        <h2>{{ post.title | truncate: 45 }}</h2>
      </div>

      <div class="row-span-1">
        <p class="text-sm">{{ post.excerpt | strip_html | strip_newlines | markdownify | truncate: 95 }}</p>

        <div>
          <span class="read-more">Read More</span>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
