<nav>
  <ul
    class="items-center justify-between pt-4 text-base text-gray-700 lg:flex lg:pt-0"
  >
    {% for item in site.data.navigation %}
    <li>
      <a href="{{ item.link }}" class="nav-link ml-4">
        <div class="inline-flex p-2">
          <div class="h-12 w-12 self-center">
            {% include images/{{ item.image }}.svg %}
          </div>

          <span class="ms-3 self-center text-2xl font-extrabold">
            {{ item.name }}
          </span>
        </div>
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
