<nav
  class="navbar bg-[rgba(0, 0, 0, 0.1)] absolute left-0 top-full z-[100] h-0 w-screen overflow-hidden backdrop-blur-[50px] md:relative md:top-0 md:h-auto md:w-max md:backdrop-blur-[0px]"
>
  {% for item in site.data.navigation %}
  <a
    href="{{ item.link }}"
    class="text-sm my-4 block px-20 md:m-2 md:inline-flex md:px-0 md:pl-1"
    style="--i:{{forloop.index0}}"
    {% if item.name == 'Github' %}
      target="_blank"
    {% endif %}
  >
    <div class="flex items-center justify-center">
      <div class="inline-flex">
        <div class="h-8 w-8 self-center">{% include images/{{ item.image }}.svg %}</div>
        <span class="items-center py-5 pl-2 text-center text-lg font-extrabold"> {{ item.name }} </span>
      </div>
    </div>
  </a>
  {% endfor %}
</nav>
