---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "jura-light";
  src: url("../fonts/google/Jura-Light.ttf");
}

@font-face {
  font-family: "jura-medium";
  src: url("../fonts/google/Jura-Medium.ttf");
}

@font-face {
  font-family: "jura-regular";
  src: url("../fonts/google/Jura-Regular.ttf");
}

@font-face {
  font-family: "jura-semibold";
  src: url("../fonts/google/Jura-SemiBold.ttf");
}

body {
  font-family: "jura-regular";
}

#menu-toggle:checked + #menu {
  display: block;
}

/* .bg-hero {
  background-image: url({{ site.hero_image | relative_url }});
} */

.nav-link {
  @apply lg:p-4 py-3 px-0 block border-b-2 border-transparent hover:border-indigo-400;
}
