<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}">
    <link rel="icon" type="image/x-icon" href="{{site.baseurl}}/assets/images/favicon.svg" />
    <script src="{{ "/assets/js/main.js" | absolute_url }}" defer></script>
  </head>

  <body class="antialiased bg-slate-700 min-h-screen">
    {% include header.html %}

    <div class="px-4 my-28">
      <div class="max-w-5xl bg-slate-900 rounded-lg mx-auto my-16 p-6">
        <h1 class="text-5xl font-extrabold text-center pt-10">{{ page.title }}</h1>

        <div class="mt-6">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
