<!DOCTYPE html>
<html lang="{{ site.lang | default: "en" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} {% if page.title %} - {{ page.title }} {% endif %}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}">
    <link rel="icon" type="image/x-icon" href="{{site.baseurl}}/assets/images/favicon.svg" />
    {% if page.layout == "post" %}
    <script src="{{ "/assets/js/article/toc-marker.js" | absolute_url }}" defer></script>
    {% endif %}
    {% seo %}
  </head>

  <body class="antialiased bg-slate-700 min-h-screen">
    {% include header.html %}

    <div class="px-4 my-28">
      <div class="max-w-5xl bg-slate-900 rounded-lg mx-auto my-16 p-6">
        {% if page.title %}
        <h1 class="text-5xl font-extrabold text-center pt-10 uppercase">{{ page.title }}</h1>
        {% endif %}

        <div class="mt-6">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
